.App {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(253, 211, 217);
    color: white;
}

.products {
    background-color: pink;
    border-radius: 20px;
}

span {
    color: rgb(170, 138, 170);
}

button {
    background-color: white;
    border-radius: 12px;
    font-family: monospace;
    padding: 10px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: lavender;
    color: pink;
}

.cart-items {
    font-family: 'Times New Roman', Times, serif;
}